<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @student.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @student.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @student.telefono %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
