<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @department.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @department.nombre %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
