<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col s3">
      <%= form.label :codigo %>
      <%= form.text_field :codigo, id: :teacher_codigo %>
    </div>

    <div class="field col s3">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :teacher_nombre %>
    </div>

    <div class="field col s3">
      <%= form.label :direccion %>
      <%= form.text_field :direccion, id: :teacher_direccion %>
    </div>

    <div class="field col s3">
      <%= form.label :telefono %>
      <%= form.text_field :telefono, id: :teacher_telefono %>
    </div>
  </div>

  <div class="row">
    <div class="field col s4">
      <%= form.label :titulo_profesional %>
      <%= form.text_field :titulo_profesional, id: :teacher_titulo_profesional %>
    </div>

    <div class="field col s4">
      <%= form.label :nivel_estudios %>
      <%= form.text_field :nivel_estudios, id: :teacher_nivel_estudios %>
    </div>

    <div class="input-field col s4">
      <%= form.collection_select(:department_id,Department.all,:id,:nombre,
                                {:prompt=>"Departamentos",:select=>@teacher.department_id},
                                {class: 'form-control'}) %>
    </div>
  </div>

  <div class="row">
    <div class="field col s12">

    </div>
  </div>

  <div class="row">
    <div class="waves-effect waves-light btn">
      <%= form.submit "GUARDAR"%>
    </div>

    <div class="waves-effect waves-light btn">
      <%= link_to 'Regresar', teachers_path, {:style=>'color: #000000'} %>
    </div>
  </div>

<% end %>

