<p id="notice"><%= notice %></p>

<h1>Docentes</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Titulo profesional</th>
      <th>Nivel estudios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.codigo %></td>
        <td><%= teacher.nombre %></td>
        <td><%= teacher.direccion %></td>
        <td><%= teacher.telefono %></td>
        <td><%= teacher.titulo_profesional %></td>
        <td><%= teacher.nivel_estudios %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
