<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @teacher.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @teacher.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @teacher.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @teacher.telefono %>
</p>

<p>
  <strong>Titulo profesional:</strong>
  <%= @teacher.titulo_profesional %>
</p>

<p>
  <strong>Nivel estudios:</strong>
  <%= @teacher.nivel_estudios %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
