<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field col s4">
      <%= form.label :codigo %>
      <%= form.text_field :codigo, id: :course_codigo %>
    </div>

    <div class="field col s4">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :course_nombre %>
    </div>

    <div class="input-field col s4">
      <%= form.collection_select(:department_id,Department.all,:id,:nombre,
                                {:prompt=>"Departamentos",:select=>@course.department_id},
                                {class: 'form-control'}) %>
    </div>
  </div>

  <div class="row">
    <div class="field col s12">

    </div>
  </div>

  <div class="row">
    <div class="waves-effect waves-light btn">
      <%= form.submit "GUARDAR"%>
    </div>

    <div class="waves-effect waves-light btn">
      <%= link_to 'Regresar', courses_path, {:style=>'color: #000000'} %>
    </div>
  </div>

<% end %>
