<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @course.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @course.nombre %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
