<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @university.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @university.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @university.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @university.telefono %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @university.codigo_postal %>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
