<!DOCTYPE html>
<html>
  <head>
    <title>AppUniversity</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <a href="#" class="brand-logo">Logo</a>
    <nav>
      <div class="nav-wrapper">
        <% if user_signed_in? %>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to "Unversidades", controller: :universities, action: :index %></a></li>
            <li><%= link_to "Departamentos", controller: :departments, action: :index %></a></li>
            <li><%= link_to "Cursos", controller: :courses, action: :index %></a></li>
            <li><%= link_to "Docentes", controller: :teachers, action: :index %></a></li>
            <li><%= link_to "Estudiantes", controller: :students, action: :index %></a></li>
          </ul>
           <ul id="nav-mobile" class="right hide-on-med-and-down">    
            <li><%= current_user.email %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
          </ul>
        <% else %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to('Login', new_user_session_path) %> </li>   
          </ul>
        <% end %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
